/* 

p,
.my-class,
#my-id {
  color: red;
} 
  
*/

/* 
    规则集
    p 选择器，选择样式的元素
    {} 内的行称作 声明，对属性设置值
    color 属性
    red 值 
    ;   声明分隔符
    ：  属性与值分隔符

    一个规则集包含多个选择器，使用 逗号 隔开
*/

html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Roboto", sans-serif;
}
/* <html> 元素内部的所有元素将继承相同的 font-size 和 font-family。 */

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #648e96;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #35a57e;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
/* 当你在 margin 或 padding 等属性上设置两个值时，
第一个值会影响元素的顶部和底部（在这个例子中设置为 0）；
第二个值会影响左侧和右侧。
auto 是一个特殊值，
它会将可用的水平空间平均分配到左侧和右侧。 

padding: 0 20px 20px 20px;：
这些值按顺序设置了顶部、右边、底部和左边的 padding。*/

h1 {
  margin: 0;
  padding: 20px 0;
  color: #648e96;
  text-shadow: 3px 3px 8px black;
}
/* text-shadow 为元素文本内容应用阴影：
第一个像素值设定了水平偏移 ：阴影从文字移动的距离。
第二个像素值设置阴影的垂直偏移 ：它向下移动的距离。
第三个像素值设置阴影的模糊半径 。更大的值会产生更模糊的阴影。
第四个值设置阴影的基础颜色。 */

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* <body> 元素是一个 块 元素，
这意味着它在页面上占据空间，
并且可以接受边距、填充和其他框属性。
另一方面，<img>（图像）元素是 行内 元素：
默认情况下，它们不会像块元素那样接受边距值。
为了让这个图像的自动边距技巧生效，
我们必须通过使用 display: block; 给它块级行为。 */

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}
